{
	auto_https off
	admin off

	frankenphp {
		worker {
			file /var/www/html/public/frankenphp-worker.php
		}
	}
}

:80 {
	log {
		level INFO
		format filter {
			wrap console
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	route {
		header {
			X-Content-Type-Options nosniff
			X-Frame-Options DENY
			Referrer-Policy strict-origin-when-cross-origin
			-X-Powered-By
			defer
		}
		root * "/var/www/html/public"
		encode zstd br gzip
		{$CADDY_SERVER_EXTRA_DIRECTIVES}
		php_server {
			index frankenphp-worker.php
			resolve_root_symlink
		}
	}
}
